@model IEnumerable<WebStore.BusinessLogic.DTO.Product.ProductForIndexView>

<table class="table table-hover table-striped table-bordered">
    <tbody>
        <tr>
            <th>Имя</th>
            <th>Категория</th>
            <th>Цена</th>
            <th>&nbsp;</th>
        </tr>
        @foreach (var e in @Model)
        {
            <tr>
                <td>@e.Name</td>
                <td>@e.CategoryName</td>
                <td>@e.Price</td>
                <td>
                @Html.ActionLink("More", "ProductInfo", "Main", new { id = e.Id }, null)
                <a href="@Url.Action("AddToCart", "Cart", new { id = e.Id })" class="btn btn-danger">Добавить в корзину</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href=@Url.Action("AddProduct", "Main") class="btn btn-primary btn-lg">Добавить &raquo;</a>