@model WebStore.BusinessLogic.DTO.Product.ProductFilterDTO
@{
    ViewBag.Title = "Index";
    var list = ((IEnumerable<SelectListItem>)ViewBag.Categories).ToList();
    var ajaxOpt = new AjaxOptions{ AllowCache = false, InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnSuccess = "onAjax"};
}

<div class="row">
    <div class="col-md-4">
        <h2>Поиск продуктов</h2>
        @using (Ajax.BeginForm(actionName: "UpdateList", controllerName: "Product", ajaxOptions: ajaxOpt))
        {
            <div class="form-group">
                @Html.DropDownListFor(x => x.CategoryId, list, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.CategoryId)
            </div>

                <div class="form-group">
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Имя" })
                    @Html.ValidationMessageFor(x => x.Name)
                </div>

                <div class="form-group">
                    @Html.TextBoxFor(x => x.Description, new { @class = "form-control", placeholder = "Описание" })
                    @Html.ValidationMessageFor(x => x.Description)
                </div>

                <div class="form-group">
                    @Html.TextBoxFor(x => x.PriceMin, new { @class = "form-control", placeholder = "Цена от" })
                    @Html.ValidationMessageFor(x => x.PriceMin)
                </div>

                <div class="form-group">
                    @Html.TextBoxFor(x => x.PriceMax, new { @class = "form-control", placeholder = "Цена до" })
                    @Html.ValidationMessageFor(x => x.PriceMax)
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.IsDeleted)
                    @Html.CheckBoxFor(x => x.IsDeleted)
                    @Html.ValidationMessageFor(x => x.IsDeleted)
                </div>

                <button type="submit" class="btn btn-primary">Применить</button>

                @section Scripts {
                    <script type="text/javascript">
                        function onAjax(response) {
                            if (response == 'Redirect') {
                                $('#results').empty().html('<p class="text-danger">Необходимо выбрать категорию товара</p>');
                            }
                            else {
                                $('#results').empty().html(response)
                            }
                        }
                    </script>
                }
            }
    </div>
    <div id="results" class="col-md-8" style="padding-top: 3%">
        @Html.Action("UpdateListDefault", "Product")
    </div>
</div>